:root {
  --mdc-theme-primary: #2196f3;
  --mdc-theme-secondary: #f44336;
  --mdc-theme-background: #f5f5f5;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-on-surface: #000000;
  --mdc-navigator: #07a9a9;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#map {
  height: 85vh;
  width: 100%;
  margin: 8px;
}
body {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-surface);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigator {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--mdc-navigator);
  line-height: 2.8;
}
title {
  margin: 2px;
  font-size: 1.8em;
  font-weight: bold;
}
.logo {
  margin: -10px 10px;
  height: 30px;
  width: 30px;
}
main {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}
#map {
  margin-right: 10px;
  border-radius: 14px;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  padding: 4px;
  border: 1px solid var(--mdc-theme-primary);
  border-radius: 12px;
  max-width: 450px;
  max-height: 85vh;
  overflow: scroll;
  scrollbar-color: red blue;
  scrollbar-width: 120px;

}
.pageTitle{
  font-size: 1.7em;
  font-weight: bold;
  margin-left: 15px;
}
.pointsPanel {
  min-width: 460px;
  margin: 5px 3px;
  padding: 14px;
  padding-right: 10px;
}
::-webkit-scrollbar {
  display: none;
}
#points {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
li {
  list-style: none;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.point {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.point > h3 { /* Title */
  margin: 3px 0px;
  padding: 4px 8px;
  width: 100%;
  background-color: rgb(86, 82, 82);
  color: aliceblue;
}
.point-description { /* Description */
  margin: 10px 5px;
  padding: 4px 8px;
  width: 55%;
  display: flex;
  flex-direction: column;
}
.point-image {
  height: 150px;
  width: 150px;
  image-rendering: optimizeQuality;
  border-radius: 35% 15%;
  margin-top: 5px;
}
.map-point-image {
  height: 150px;
  image-rendering: optimizeQuality;
  margin-top: 5px;
}
.map-image-description {
  margin: 0;
  padding: 4px 8px;
  max-width: 220px;
}
.map-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map-dialog-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
}
.pointLatAndLng {
  display: flex;
  flex-direction: column;
  margin: 3px 0px;
}
.item-info {
  margin-top: 8px;
  font-variant: small-caps;
  font-size: 1.2em;
}